pipeline/pl_counter_raam.json
{
	"name": "pl_counter_raam",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"typeProperties": {
					"items": {
						"value": "@variables('list1')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@add(variables('init'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "init",
								"value": {
									"value": "@variables('counter')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"init": {
				"type": "Integer",
				"defaultValue": 1
			},
			"counter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"list1": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-26T02:28:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}