pipeline/pl_load_blob_stg_sathwik.json
{
	"name": "pl_load_blob_stg_sathwik",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_file_directory_sathwik",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.SRC_DIR",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "INSERT_DATE",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@concat('delete from STG.', split(item().name,'.')[0], '_sathwik')",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_file_sathwik",
									"type": "DatasetReference",
									"parameters": {
										"src_dir": {
											"value": "@pipeline().parameters.SRC_DIR",
											"type": "Expression"
										},
										"file_nm": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_target_table_sathwik",
									"type": "DatasetReference",
									"parameters": {
										"db_nm": {
											"value": "@pipeline().parameters.DATABASE_NM",
											"type": "Expression"
										},
										"table_nm": {
											"value": "@concat(split(item().name, '.')[0], '_sathwik')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SRC_DIR": {
				"type": "string",
				"defaultValue": "project"
			},
			"DATABASE_NM": {
				"type": "string",
				"defaultValue": "STG"
			}
		},
		"folder": {
			"name": "adf_2026"
		},
		"annotations": [],
		"lastPublishTime": "2026-05-09T02:12:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}