pipeline/pl_until_raam.json
{
	"name": "pl_until_raam",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(variables('init'),5)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "counter",
								"value": {
									"value": "@add(variables('init'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "init",
								"value": {
									"value": "@variables('counter')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "00:00:10"
				}
			}
		],
		"variables": {
			"init": {
				"type": "Integer",
				"defaultValue": 0
			},
			"counter": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-26T04:01:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}